$primaryColor: #1B3A57; 
$secondaryColor: #F77F64;
$accentColor: #FFCC00;
$greyColor: #F9F5EC;

$defaultFont:"Poppins", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$heavyWeight: 700;
$leading: 150%;

$gutter: 10px;